@use"../base/_mixin.scss" as *;
.l-video-body{
    height: 80vh;
 @include responsive("tablet"){
    width: 100%;
    height: 100vh;
 }
}

.l-video{
    position: fixed;
    top: px-to-rem(72px);
    height: px-to-rem(720px);
    z-index: -10;
    left: 0;
    right: 0;
    margin: 0 auto;
    @include responsive("tablet"){
        top: px-to-rem(-100px);
    }
}