<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="明るいHOUSE」は、洗練されたデザイン、高品質な建築、安心のサポートを提供する住宅プロジェクトです。 このウェブサイトでは、建築事例、サービス内容、家づくりの流れなどを詳しく紹介し、理想の住まいを形にするためのプロセスを分かりやすく説明します。お問い合わせや資料請求もスムーズに行える設計になっています。">
    <!-- OGP -->
    <meta property="og:title" content="明るいHOUSE">
    <meta property="og:description" content="明るいHOUSE」は、洗練されたデザイン、高品質な建築、安心のサポートを提供する住宅プロジェクトです。 このウェブサイトでは、建築事例、サービス内容、家づくりの流れなどを詳しく紹介し、理想の住まいを形にするためのプロセスを分かりやすく説明します。お問い合わせや資料請求もスムーズに行える設計になっています。">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://akarui-house2025.netlify.app">
    <meta property="og:image" content="https://akarui-house2025.netlify.app/img/OGP.png">
    <title>明るいHOUSE</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- google-fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
</head>
<body>
 <%- include('./layout/_header.ejs') %>
<div class="l-content">
    <%- include('./layout/_main.ejs') %>
    <%- include('./layout/_footer.ejs') %>
    <%- include('./parts/_side-btn.ejs') %>
</div>

 <script src="/js/index.js"></script>
</body>
</html>