<div class="l-side-btn-body">
    <a id="is-side-btn" class="l-side-btn theme-side-btn--dark" href="#" aria-hidden="true">
        <span class="l-side-btn__triangle theme-side-btn-triangle--white"></span>
    </a>
</div>